body {
    background-color: rgb(14, 171, 185);
    font-family: Arial, Helvetica, sans-serif;
}

.recipe {
    display: grid;
    grid-template-areas: 
    "heading heading"
    "description description"
    "ingredients image"
    "directions directions"
}

h1, h2, h3 {
    color: white;
}

img {
    height: 500px;
    width: auto;
}

a {
    font-weight: bold;
    font-size: 20px;
}