body {
    background-color: rgb(14, 171, 185);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: white;
}

img {
    height: 500px;
    width: auto;
}

a {
    font-weight: bold;
    font-size: 20px;
}